# Django Settings
DJANGO_SECRET_KEY=django-insecure-rl17&5ecdx1h131wc@wy!^r-*7zh(q@!+#4jy2*%tw=z@4dv2i
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database (if using PostgreSQL in production)
# DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# Email Settings (optional)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

EMAIL_HOST = mail.elwsamshop.com
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=support@elwsamshop.com
EMAIL_HOST_PASSWORD=info@100
DEFAULT_FROM_EMAIL=ELWSAM Shop <support@elwsamshop.com>
